h1 {
    font-size: 4rem; /* Default font size */
}
  
@media screen and (max-width: 993px) {
h1 {
    font-size: 3rem; /* Font size for screens up to 768px wide */
}
}
  
@media screen and (max-width: 768px) {
h1 {
   font-size: 2rem; /* Font size for screens up to 576px wide */
}
}
  
@media screen and (max-width: 451px) {
h1 {
    font-size: 1.5rem; /* Font size for screens up to 375px wide */
}
}

p {
    font-size: 1rem; /* Default font size */
}

@media screen and (max-width: 768px) {
    p {
        font-size: 0.8rem; /* Font size for screens up to 576px wide */
    }
}

@media screen and (max-width: 451px) {
    p {
        font-size: 0.7rem; /* Font size for screens up to 375px wide */
    }
}

.description p{
    text-align: justify;
}

.create-section{
    display: flex;
}

.create-btn{
    height: 40px;
    background: green;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 25px; 
    border: none;
    border-radius: 35px;
    transition: opacity .3s;
}
.create-btn i{
    margin-right: 10px;
}

.main-box{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.main-box .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
     width: 100%;
     margin-top: 20px;
}

@media only screen and (max-width: 840px){
    .main-box top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .top .box{
        margin: 10px 10px;
    }
    .bottom{
        margin-top: 0;
    }
}